/*** About ***/

.eliora {
    font-size: 17px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.eliakim {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: justify;
    padding-right: 10px;
}
/*** Navbar ***/
.dropdown-menu {
    background-color: #333;
    border-radius: 0;
    border: 1px solid white;
}

.top-bar {
    background-color: #3a3838;
    color: whitesmoke;
}

/*** Welcome ***/

.elhanan {
    font-family: sans-serif;
    font-size: 17px;
    text-align: justify;
}

.emily {
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
}

.contact {
    margin-top: 5px;
    margin-bottom: 15px;
}

.download {
    font-size: 30px;
    text-align: center;
}